/* <link rel="stylesheet" href="vcard.css"> */
/* http://www.the-art-of-web.com/css/format-dl/ */

html {
    background-color: #E8EAE8;
    width: 35em;
}
h1 {
    text-align: center;
    color: #777;
}
em {
    color: green;
}
dl {
    border: 3px double #bbb;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: green;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}
